/* Variables */

/* Colors */

$body-font-color: #000000;
$filter-bg-color: #dcf2f2;
$sale-bg-color: #c43431;
$exclusive-bg-color: #009900;
$border-color: #e0e0e0;
$white: #ffffff;

/* Font */

$body-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$body-font-size: 1em;

/* Screen */

$small: 480px;
$medium: 768px;
$large: 991px;







